extends layout

block content
    h1  🥂
    iframe(width='480', height='270', src='mimosas.gif')
    p Bless up and brunch y'all. 
    ul
        li this
        li is
        li an
        li unordered
        li list
       


