html
  head
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Oswald:300&display=swap" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Armata&display=swap" rel="stylesheet" type="text/css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

    title FoodSnob
    script(src="https://unpkg.com/axios/dist/axios.min.js")

    script.
        console.log('hello there 👋')

  

  body
    .page-container
      header
          h1: a(href="/") let's eat
      .sidebar
        a.button(href="/") Home
        a.button(href="/users") FoodSnobs
        a.button(href="/restaurants") Restaurants
      .content-container
        block content

      footer
        h4 (c) international brunch conspiracy

